.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.loginFormDiv {
  background-color: rgb(31, 182, 247);
  width: 80dvw;
  height: 50dvh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
  justify-content: center;
}

.loginBtn {
  width: 35dvw;
  background-color: beige;
  height: 15dvh;
  min-height: 5dvh;
  border-radius: 5px;
}

.loginInput {
  border-radius: 5px;
  width: 50dvw;
  height: 3dvh;
}

.floatingLabel {
  position: absolute;
}

.lgba_logo {
  width: 50dvw;
}

.inputs {
  padding: 3dvh;
  gap: 1dvw;
  display: flex;
  flex-direction: column;
}
